.info {
  position: relative;

  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 85px;
}

.info h2 {
  margin: 0;
  margin-bottom: 20px;

  list-style: none;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  font-family: $montserrat;
  text-align: center;
  color: $color-blue;
  text-transform: uppercase;
}

.info p {
  width: 690px;
  margin: 0 auto;
  margin-bottom: 50px;

  font-size: 17px;
  line-height: 170%;
  text-align: center;
}

.info img {
  position: relative;

  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.info__wrap {
  position: relative;

  width: 100%;
  max-width: 870px;
  height: 460px;
  margin: 0 auto;
  overflow: hidden;
}

.info__wrap button {
  position: absolute;
  outline: none;
  top: 178px;
  left: 50%;
  z-index: 1;

  width: 96px;
  height: 96px;

  background-color: transparent;
  background-image: url("../img/play-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  transform: translate(-50%);
  cursor: pointer;
}

.info__wrap button:hover {
  background-image: url("../img/play-button-hover.svg");
}

.info__wrap button:active {
  background-image: url("../img/play-button-active.svg");
}

@media (max-width: $tablet-width) {
  .info {
    box-sizing: border-box;
    padding-top: 29px;
  }

  .info h2 {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 31px;
    line-height: 38px;
    margin-bottom: 25px;
  }

  .info img {
    display: none;
  }

  .info p {
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    font-size: 16px;
    line-height: 160%;
    text-align: left;
  }

  .info__wrap {
    max-width: 430px;
    height: 224px;

    background-image: url("../img/video-photo.png");
    background-position: 65%;
    background-size: cover;
  }

  .info__wrap button {
    top: 80px;

    width: 80px;
    height: 80px;
    background-size: contain;
  }
}
