.main-header {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding-top: 82px;
}

.main-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.main-header__logo {
  width: 160px;
}

.main-header a {
  margin-right: 15px;

  font-style: normal;
  font-variant: small-caps;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  font-family: $fira-sans;
  color: $color-black;
  text-transform: lowercase;
  text-decoration: none;
}

.main-header a:last-of-type {
  margin-right: 0;
}

.main-header__call-us {
  padding-top: 17px;
  padding-right: 4px;
  border-bottom: 1px dashed $color-black;
}

.main-header__call-us:hover {
  opacity: 70%;
}

.main-header__call-us:active {
  opacity: 50%;
}

.main-header__phone {
  padding-top: 17px;
}

.main-header__phone:hover {
  opacity: 70%;
}

.main-header__phone:active {
  opacity: 50%;
}


@media (max-width: $tablet-width) {
  .main-header__container {
    position: relative;

    flex-direction: column;
    align-items: flex-end;
    padding-left: 140px;
  }

  .main-header {
    padding-top: 20px;
  }

  .main-header a {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;

    font-style: normal;
    font-size: 14px;
    line-height: 17px;
  }

  .main-header__logo {
    position: absolute;
    left: 0;
  }


  .main-header__logo img {
    width: 120px;
    height: 42px;
  }


  .main-header .main-header__call-us {
    min-width: auto;
  }
}
