.promo {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  min-height: 740px;
  padding-top: 50px;
  padding-bottom: 228px;
}

.promo b {
  width: 343px;

  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  font-family: $fira-sans;
  text-align: center;
  color: $color-white;
}

.promo__scroll {
  position: absolute;
  bottom: 65px;
  left: 50%;

  width: 76px;
  height: 131px;

  background-color: transparent;
  background-image: url("../img/scroll-sign.svg");
  border: none;
  transform: translate(-50%);
}

.promo__scroll:hover {
  opacity: 70%;
}

.promo__scroll:active {
  opacity: 50%;
}

@media (max-width: $desktop-width) {
  .promo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 530px;
    padding: 0;
  }

  .promo b {
    padding-top: 40px;
    width: 288px;

    font-size: 20px;
    line-height: 24px;
  }

  .promo__scroll {
    bottom: 56px;
  }
}
