body {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 170%;
  font-family: "Fira Sans", "Arial", sans-serif;
  color: $color-black;
}

.bg-wrap--header {
  z-index: 1;

  width: 100%;
  min-height: 400px;

  background-image: url("../img/girl-main.png"), url("../img/israel.png"), url("../img/town.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 50% 100px, 50% 230px, 0 55px, ;
  background-size: auto auto, auto auto, 100% 100%;
}

@media(max-width: $desktop-width) {
  .bg-wrap--header {
    background-image: url("../img/girl-main.png"), url("../img/israel.png"), url("../img/town.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 50% 100px, 50% 230px, 0 55px, ;
    background-size: auto auto, 750px auto, 100% 100%;
  }
}

@media (max-width: $tablet-width) {
  .bg-wrap--header {
    min-height: auto;

    background-image: url("../img/girl-main-mobile.png"), url("../img/israel.png"), url("../img/town-mobile.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 50% 30px,50% 172px,0 30px;
    background-size: auto auto, 347px auto, 100% 92.5%;
  }
}
