$tablet-width: 767px;
$mobile-width: 320px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$desktop-width: 1199px;
$color-black: #484848;
$color-blue: #1FC0FC;
$color-yellow: #FFC341;
$color-gradient: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
$fira-sans: "Fira Sans",
"Arial",
sans-serif;
$montserrat: "Montserrat",
"Arial",
sans-serif;
